@font-face {
  font-family: LeagueGothic-Regular;
  src: url(./Fonts/LeagueGothic-Regular.otf);
}

@font-face {
    font-family: Montserrat-Black;
    src: url(./Fonts/montserrat/Montserrat-Black.ttf);
  }
  @font-face {
    font-family: Montserrat-Light;
    src: url(./Fonts/montserrat/Montserrat-Light.ttf);
  } 

  @font-face {
    font-family: Montserrat;
    src: url(./Fonts/montserrat/Montserrat-Regular.ttf);
  } 

.sendForm {
  margin-top: 0.5em;
  background: white;
  font-weight: bold;
  border: 0;
  color: #47d486;
  font-family: Montserrat-Black;
  letter-spacing: 1px;
}

.theFooter{
color: white;
font-family: Montserrat-Light;
}

Input::placeholder{
  color: white;
}