.App {
    /* border: 1px solid red; */
  text-align: center;
  position: relative;
  width: 99vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App > div {
  /* position: relative; */
  z-index: 1;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}
div > div {
  color: #fff;
}
div > h3 {
  color: #fff;
}
.App > div:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* border: 1px solid red; */
  width: 89vw;
  height: 84vh;
  background: linear-gradient(45deg, #57eb99, #065c3b);
  border-radius: 0 0 45% 45%/0 0 25% 25%;
  transform: scaleX(1.19);
}
.texts {
  margin: 30px auto;
  padding: 2px 20px;
  font-family: Montserrat-Black;
  font-size: 10px;
  text-align: center;
  align-content: center;
  color: #07774c;
}
