.App {
  text-align: center;
  position: relative;
  width: 99vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.App > div {
  /* position: relative; */
  z-index: 1;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}
div > div {
  color: #fff;
}
div > h3 {
  color: #fff;
}
.App > div:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 89vw;
  height: 100%;
  background: linear-gradient(45deg, #53ec98, #046842);
  border-radius: 0 0 45% 45%/0 0 25% 25%;
  transform: scaleX(1.19);
}
.texts {
  margin-top: 30px;
  padding: 2px 20px;
  font-family: Montserrat-Black;
  font-size: 0.85em;
  text-align: center;
  align-content: center;
  color: #07774c;
}
